:root {
  font-family: "Open Sans", "San Francisco", "-apple-system", "HelveticaNeue", helvetica, roboto, droid serif, arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@import "tailwindcss";

a {
  text-decoration: inherit;
}

body {
  margin: 0;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  background-color: #ffffff;
  padding-inline: 0px;
  overflow-x: hidden;
}

@media (min-width: 768px) {
  body {
    padding-inline: 3rem;
  }
}

@media (min-width: 1024px) {
  body {
    padding-inline: 5rem;
  }
}

h1 {
  font-size: 2em;
  line-height: 1.1;
}

@media (min-width: 768px) {
  h1 {
    font-size: 2.5em;
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: 3.2em;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }
}

/* Step Wrapper Styles */
.step-wrapper {
  color: #273653;
  font-family: "Open Sans", "San Francisco", "-apple-system", "HelveticaNeue", helvetica, roboto, droid serif, arial, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  box-sizing: inherit;
  position: relative;
  max-width: 72rem;
  margin: 0 auto 2rem;
}

/* SVG Connector Styles */
.step-connector {
  color: #273653;
  font-family: "Open Sans", "San Francisco", "-apple-system", "HelveticaNeue", helvetica, roboto, droid serif, arial, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  width: 2px;
  height: 64px;
  fill: none;
  box-sizing: inherit;
  position: absolute;
  left: calc(50% - 1px);
  z-index: -1;
  top: -8rem;
}